body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
}

#posts-container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.post {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}

button {
    cursor: pointer;
}
